.container {
  position: relative;
  text-align: center;
  margin: 6px 12px;
}

.spinner-container {
  width: 60px;
  height: 60px;
  margin-top: 24px;
  margin-bottom: 24px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  color: #00acc1;
}

.spinner-name {
  text-align: center;

  span {
    font-family: Roboto, 'Helvetica Neue', sans-serif;
    color: rgba(0, 0, 0, 0.87);
    font-size: 75%;
    font-weight: 500;
    font-style: normal;
  }
}
