<div class="layout-row-wrap fxLayoutAlign-center" style="margin-top: 12px">
  <div
    class="fxFlex-100 layout-row-wrap fxLayoutAlign-center-start"
    style="max-width: 960px;"
  >
    <div
      *ngFor="let spinner of spinners"
      class="fxFlex-xs-40 container"
      style="flex-basis: 135px; min-width: 135px;"
    >
      <div class="ngx-foreground-spinner spinner-container">
        <div [class]="spinner.class">
          <div *ngFor="let div of spinner.divs"></div>
        </div>
      </div>

      <div class="spinner-name">
        <span>{{ spinner.name }}</span>
      </div>
    </div>
  </div>
  <div
    class="fxFlex-100 fxLayout-row fxLayoutAlign-center"
    style="margin-top: 24px; margin-bottom: 24px"
  >
    <a mat-raised-button color="primary" [routerLink]="'/'">Back</a>
  </div>
</div>
