<ngx-ui-loader
  [fgsColor]="config.fgsColor"
  [fgsPosition]="config.fgsPosition"
  [fgsSize]="config.fgsSize"
  [fgsType]="config.fgsType"
  [bgsColor]="config.bgsColor"
  [bgsOpacity]="config.bgsOpacity"
  [bgsPosition]="config.bgsPosition"
  [bgsSize]="config.bgsSize"
  [bgsType]="config.bgsType"
  [gap]="config.gap"
  [logoPosition]="config.logoPosition"
  [logoSize]="config.logoSize"
  [logoUrl]="config.logoUrl"
  [overlayColor]="config.overlayColor"
  [pbColor]="config.pbColor"
  [pbDirection]="config.pbDirection"
  [pbThickness]="config.pbThickness"
  [text]="config.text"
  [textColor]="config.textColor"
  [textPosition]="config.textPosition"></ngx-ui-loader>
<mat-toolbar color="primary">
  <span>
    <a mat-button href="https://www.npmjs.com/package/ngx-ui-loader" target="_blank">
      <mat-icon fontIcon="mdi-angular" fontSet="mdi" class="mdi-24px"></mat-icon>NGX-UI-LOADER
    </a>
  </span>
  <span class="fill-space"></span>
  <span>
    <a mat-button href="https://github.com/t-ho/ngx-ui-loader" target="_blank">
      <mat-icon fontIcon="mdi-github-circle" fontSet="mdi" class="mdi-24px"></mat-icon>Github
    </a>
  </span>
</mat-toolbar>

<h2>NGX-UI-LOADER</h2>
<div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="8px">
  <a href="https://www.npmjs.com/package/ngx-ui-loader" target="_blank">
    <img src="https://badge.fury.io/js/ngx-ui-loader.svg" alt="npm version" height="18">
  </a>
  <a href="https://travis-ci.org/t-ho/ngx-ui-loader" target="_blank">
    <img src="https://travis-ci.org/t-ho/ngx-ui-loader.svg?branch=master" alt="npm version" height="18">
  </a>
  <a href="https://www.npmjs.com/package/ngx-ui-loader" target="_blank">
    <img src="https://img.shields.io/npm/l/ngx-ui-loader.svg" alt="npm version" height="18">
  </a>
</div>
<h3>A fully customizable loader/spinner for angular 5+ and 6+</h3>

<div fxLayout="row" fxLayoutAlign="center" style="margin-top: 12px">
  <div fxFlex="100" fxFlex.lg="90" fxFlex.gt-lg="70" fxLayout="row wrap" fxLayoutAlign="center">

    <div fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-md="36" fxLayout="column" class="p-12">
      <mat-list role="list">
        <mat-list-item role="listitem">
          <mat-slide-toggle (change)="fgSlideChange($event.checked)" [(checked)]="waitingForeground['default']">
            {{waitingForeground['default'] ? 'stop' : 'start'}}() - automatically stop after 3s
          </mat-slide-toggle>
        </mat-list-item>
        <mat-list-item role="listitem">
          <mat-slide-toggle (change)="fgSlideChange1($event.checked)" [(checked)]="waitingForeground['fg-1']">
            {{waitingForeground['fg-1'] ? 'stop' : 'start'}}('fg-1') - automatically stop after 8s
          </mat-slide-toggle>
        </mat-list-item>
        <mat-list-item role="listitem">
          <mat-slide-toggle (change)="bgSlideChange($event.checked)">
            {{waitingBackground['default'] ? 'stop' : 'start'}}Background()
          </mat-slide-toggle>
        </mat-list-item>
        <mat-list-item role="listitem">
          <mat-slide-toggle (change)="bgSlideChange2($event.checked)">
            {{waitingBackground['bg-2'] ? 'stop' : 'start'}}Background('bg-2')
          </mat-slide-toggle>
        </mat-list-item>
        <mat-list-item role="listitem">
          <div fxLayout="column">
            <span class="place-holder">waitingForeground = </span>
            <code>{{waitingForeground | json}}</code>
          </div>
        </mat-list-item>
        <mat-list-item role="listitem">
          <div fxLayout="column">
            <span class="place-holder">waitingBackground = </span>
            <code>{{waitingBackground | json}}</code>
          </div>
        </mat-list-item>
      </mat-list>
      <div fxLayout="column" class="config-info">
        <span class="place-holder">ngx-ui-loader-configuration = </span>
        <pre><code>{{config | json}}</code></pre>
      </div>
    </div>
    <!-- Foreground {{{-->
    <div fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-md="32" fxLayout="column" class="p-12">
      <mat-form-field>
        <input [(colorPicker)]="config.fgsColor" matInput placeholder="Foreground Spinner Color (fgsColor)" [(ngModel)]="config.fgsColor">
        <mat-icon matSuffix [style.color]="config.fgsColor" fontIcon="mdi-palette" fontSet="mdi"></mat-icon>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="Foreground Spinner Type (fgsType)" [(value)]="config.fgsType">
          <mat-option *ngFor="let type of spinnerTypes" [value]="type">
            {{ type }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="Foreground Spinner Position (fgsPosition)" [(value)]="config.fgsPosition">
          <mat-option *ngFor="let position of positions" [value]="position">
            {{ position }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div>
        <span class="place-holder">Foreground Spinner Size (fgsSize)</span>
        <mat-slider max="150" min="20" step="10" [thumbLabel]="true" [(ngModel)]="config.fgsSize"></mat-slider>
      </div>

      <div>
        <span class="place-holder">Progress Bar Thickness (pbThickness)</span>
        <mat-slider fxFlex="100" max="10" min="1" step="1" [thumbLabel]="true" [(ngModel)]="config.pbThickness"></mat-slider>
      </div>

      <mat-form-field>
        <mat-select placeholder="Progress Bar Direction (pbDirection)" [(value)]="config.pbDirection">
          <mat-option *ngFor="let direction of directions" [value]="direction">
            {{ direction }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <input [(colorPicker)]="config.overlayColor" cpOutputFormat="rgba" matInput placeholder="Overlay Color (overlayColor)" [(ngModel)]="config.overlayColor">
        <mat-icon matSuffix [style.color]="config.overlayColor" fontIcon="mdi-palette" fontSet="mdi"></mat-icon>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Loading Text (text)" [(ngModel)]="config.text" autocomplete="off">
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="Loading Text Position (textPosition)" [(value)]="config.textPosition" [disabled]="!config.text">
          <mat-option *ngFor="let position of positions" [value]="position">
            {{ position }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <input [(colorPicker)]="config.textColor" matInput placeholder="Loading Text Color (textColor)" [(ngModel)]="config.textColor" [disabled]="!config.text">
        <mat-icon matSuffix [style.color]="config.textColor" fontIcon="mdi-palette" fontSet="mdi"></mat-icon>
      </mat-form-field>

    </div>
    <!-- Foreground }}}-->

    <!-- Background {{{-->
    <div fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-md="32" fxLayout="column" class="p-12">
      <mat-form-field>
        <input [(colorPicker)]="config.bgsColor" matInput placeholder="Background Spinner Color (bgsColor)" [(ngModel)]="config.bgsColor">
        <mat-icon matSuffix [style.color]="config.bgsColor" fontIcon="mdi-palette" fontSet="mdi"></mat-icon>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="Background Spinner Type (bgsType)" [(value)]="config.bgsType">
          <mat-option *ngFor="let type of spinnerTypes" [value]="type">
            {{ type }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="Background Spinner Position (bgsPosition)" [(value)]="config.bgsPosition">
          <mat-option *ngFor="let position of positions" [value]="position">
            {{ position }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div>
        <span class="place-holder">Background Spinner Size (bgsSize)</span>
        <mat-slider fxFlex="100" max="150" min="20" step="10" [thumbLabel]="true" [(ngModel)]="config.bgsSize"></mat-slider>
      </div>

      <div>
        <span class="place-holder">Background Spinner Opacity (bgsOpacity)</span>
        <mat-slider fxFlex="100" max="1" min="0.1" step="0.1" [thumbLabel]="true" [(ngModel)]="config.bgsOpacity"></mat-slider>
      </div>

      <mat-form-field>
        <input [(colorPicker)]="config.pbColor" matInput placeholder="Progress Bar Color (pbColor)" [(ngModel)]="config.pbColor">
        <mat-icon matSuffix [style.color]="config.pbColor" fontIcon="mdi-palette" fontSet="mdi"></mat-icon>
      </mat-form-field>

      <div>
        <span class="place-holder">Gap between logo, spinner and text (gap)</span>
        <mat-slider fxFlex="100" max="150" min="10" step="1" [thumbLabel]="true" [(ngModel)]="config.gap"></mat-slider>
      </div>

      <div style="margin-top: 21px; margin-bottom: 20px">
        <mat-checkbox (change)="addLogo($event.checked)" [checked]="config.logoUrl">Add logo</mat-checkbox>
      </div>

      <mat-form-field>
        <mat-select placeholder="Logo Position (logoPosition)" [(value)]="config.logoPosition" [disabled]="!config.logoUrl">
          <mat-option *ngFor="let position of positions" [value]="position">
            {{ position }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div>
        <span class="place-holder">Logo size (logoSize)</span>
        <mat-slider fxFlex="100" max="200" min="40" step="10" [thumbLabel]="true" [(ngModel)]="config.logoSize" [disabled]="!config.logoUrl"></mat-slider>
      </div>
    </div>
    <div fxFlex="100" fxLayout="row" fxLayoutAlign="center">
      <button mat-raised-button color="primary" (click)="reset()">Reset Configuration</button>
    </div>
    <!-- Background }}}-->
  </div>
</div>