<ngx-ui-loader
  [fgsColor]="demoService.config.fgsColor"
  [fgsPosition]="demoService.config.fgsPosition"
  [fgsSize]="demoService.config.fgsSize"
  [fgsType]="demoService.config.fgsType"
  [bgsColor]="demoService.config.bgsColor"
  [bgsOpacity]="demoService.config.bgsOpacity"
  [bgsPosition]="demoService.config.bgsPosition"
  [bgsSize]="demoService.config.bgsSize"
  [bgsType]="demoService.config.bgsType"
  [gap]="demoService.config.gap"
  [logoPosition]="demoService.config.logoPosition"
  [logoSize]="demoService.config.logoSize"
  [logoUrl]="demoService.config.logoUrl"
  [overlayColor]="demoService.config.overlayColor"
  [pbColor]="demoService.config.pbColor"
  [pbDirection]="demoService.config.pbDirection"
  [pbThickness]="demoService.config.pbThickness"
  [text]="demoService.config.text"
  [textColor]="demoService.config.textColor"
  [textPosition]="demoService.config.textPosition"></ngx-ui-loader>

<div ngxUiLoaderBlurred [blur]="demoService.config.blur">
  <mat-toolbar color="primary">
    <span>
      <a mat-button href="https://www.npmjs.com/package/ngx-ui-loader" target="_blank">
        <mat-icon fontIcon="mdi-angular" fontSet="mdi" class="mdi-24px"></mat-icon>NGX-UI-LOADER
      </a>
    </span>
    <span class="fill-space"></span>
    <span>
      <a mat-button href="https://github.com/t-ho/ngx-ui-loader" target="_blank">
        <mat-icon fontIcon="mdi-github-circle" fontSet="mdi" class="mdi-24px"></mat-icon>Github
      </a>
    </span>
  </mat-toolbar>

  <h2>NGX-UI-LOADER</h2>
  <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="8px">
    <a href="https://www.npmjs.com/package/ngx-ui-loader" target="_blank">
      <img src="https://badge.fury.io/js/ngx-ui-loader.svg" alt="npm version" height="18">
    </a>
    <a href="https://travis-ci.org/t-ho/ngx-ui-loader" target="_blank">
      <img src="https://travis-ci.org/t-ho/ngx-ui-loader.svg?branch=master" alt="npm version" height="18">
    </a>
    <a href="https://www.npmjs.com/package/ngx-ui-loader" target="_blank">
      <img src="https://img.shields.io/npm/l/ngx-ui-loader.svg" alt="npm version" height="18">
    </a>
  </div>
  <h3>A fully customizable loader/spinner for angular 5+ and 6+</h3>
  <router-outlet></router-outlet>
</div>
