<ngx-ui-loader
  [fgsColor]="demoService.config.fgsColor"
  [fgsPosition]="demoService.config.fgsPosition"
  [fgsSize]="demoService.config.fgsSize"
  [fgsType]="demoService.config.fgsType"
  [bgsColor]="demoService.config.bgsColor"
  [bgsOpacity]="demoService.config.bgsOpacity"
  [bgsPosition]="demoService.config.bgsPosition"
  [bgsSize]="demoService.config.bgsSize"
  [bgsType]="demoService.config.bgsType"
  [gap]="demoService.config.gap"
  [logoPosition]="demoService.config.logoPosition"
  [logoSize]="demoService.config.logoSize"
  [logoUrl]="demoService.config.logoUrl"
  [overlayColor]="demoService.config.overlayColor"
  [pbColor]="demoService.config.pbColor"
  [pbDirection]="demoService.config.pbDirection"
  [pbThickness]="demoService.config.pbThickness"
  [hasProgressBar]="demoService.config.hasProgressBar"
  [text]="demoService.config.text"
  [textColor]="demoService.config.textColor"
  [textPosition]="demoService.config.textPosition"
></ngx-ui-loader>

<div ngxUiLoaderBlurred [blur]="demoService.config.blur">
  <mat-toolbar color="primary">
    <button mat-button (click)="openDocumentation()">
      <mat-icon inline class="mdi mdi-book-open-page-variant"></mat-icon>
      DOCUMENTATION
    </button>
    <span class="fill-space"></span>
    <button mat-button (click)="openGithub()">
      <mat-icon inline class="mdi mdi-github"></mat-icon>
      Github
    </button>
  </mat-toolbar>

  <h2>NGX-UI-LOADER</h2>
  <div class="layout-row-wrap fxLayoutAlign-center" style="gap: 8px;">
    <a href="https://www.npmjs.com/package/ngx-ui-loader" target="_blank">
      <img
        alt="NPM Version"
        src="https://img.shields.io/npm/v/ngx-ui-loader"
        height="18"
      />
    </a>
    <a href="https://github.com/t-ho/ngx-ui-loader/stargazers" target="_blank">
      <img
        alt="GitHub stars"
        src="https://img.shields.io/github/stars/t-ho/ngx-ui-loader?color=00bcd4"
        height="18"
      />
    </a>
    <a href="https://github.com/t-ho/ngx-ui-loader/actions" target="_blank">
      <img
        src="https://github.com/t-ho/ngx-ui-loader/workflows/CI%20Testing/badge.svg"
        alt="Travis CI"
        height="18"
      />
    </a>
    <a href="https://codecov.io/gh/t-ho/ngx-ui-loader">
      <img
        src="https://codecov.io/gh/t-ho/ngx-ui-loader/branch/master/graph/badge.svg"
        alt="Code Coverage"
        height="18"
      />
    </a>
    <a href="https://www.npmjs.com/package/ngx-ui-loader" target="_blank">
      <img
        src="https://img.shields.io/npm/dw/ngx-ui-loader.svg"
        alt="Downloads Per Week"
        height="18"
      />
    </a>
    <a
      href="https://www.jsdelivr.com/package/npm/ngx-ui-loader"
      target="_blank"
    >
      <img
        src="https://data.jsdelivr.com/v1/package/npm/ngx-ui-loader/badge?style=rounded"
        alt="jsDelivr"
        height="18"
      />
    </a>
    <a href="https://bundlephobia.com/result?p=ngx-ui-loader" target="_blank">
      <img
        alt="npm bundle size"
        src="https://img.shields.io/bundlephobia/minzip/ngx-ui-loader"
        height="18"
      />
    </a>
    <a
      href="https://github.com/t-ho/ngx-ui-loader/wiki/License"
      target="_blank"
    >
      <img
        src="https://img.shields.io/npm/l/ngx-ui-loader.svg"
        alt="MIT License"
        height="18"
      />
    </a>
  </div>
  <h3>A fully customizable loader/spinner for Angular application</h3>
  <router-outlet></router-outlet>
</div>
