<div fxLayout="row" fxLayoutAlign="center" style="margin: 12px 0">
  <div fxFlex="100" fxFlex.lg="90" fxFlex.gt-lg="70" fxLayout="row wrap" fxLayoutAlign="center">

    <div fxFlex="100" fxFlex.gt-md="36" fxLayout="column" fxLayout.sm="row" fxLayout.md="row" class="p-12">
      <mat-list role="list" fxFlex.sm="50" fxFlex.md="50" class="mat-elevation-z4">
        <mat-list-item role="listitem">
          <mat-slide-toggle (change)="fgSlideChange($event.checked)" [(checked)]="waitingForeground['default']">
            {{waitingForeground['default'] ? 'stop' : 'start'}}() - automatically stop after 3s
          </mat-slide-toggle>
        </mat-list-item>
        <mat-list-item role="listitem">
          <mat-slide-toggle (change)="fgSlideChange1($event.checked)" [(checked)]="waitingForeground['fg-1']">
            {{waitingForeground['fg-1'] ? 'stop' : 'start'}}('fg-1') - automatically stop after 8s
          </mat-slide-toggle>
        </mat-list-item>
        <mat-list-item role="listitem">
          <mat-slide-toggle (change)="bgSlideChange($event.checked)" [(checked)]="waitingBackground['default']">
            {{waitingBackground['default'] ? 'stop' : 'start'}}Background()
          </mat-slide-toggle>
        </mat-list-item>
        <mat-list-item role="listitem">
          <mat-slide-toggle (change)="bgSlideChange2($event.checked)" [(checked)]="waitingBackground['bg-2']">
            {{waitingBackground['bg-2'] ? 'stop' : 'start'}}Background('bg-2')
          </mat-slide-toggle>
        </mat-list-item>
        <mat-list-item role="listitem">
          <div fxLayout="column">
            <span class="place-holder">waitingForeground = </span>
            <code>{{waitingForeground | json}}</code>
          </div>
        </mat-list-item>
        <mat-list-item role="listitem">
          <div fxLayout="column">
            <span class="place-holder">waitingBackground = </span>
            <code>{{waitingBackground | json}}</code>
          </div>
        </mat-list-item>
      </mat-list>
      <div fxLayout="column" fxFlex.sm="50" fxFlex.md="50" class="config-info">
        <span class="place-holder">ngx-ui-loader-configuration = </span>
        <pre><code>{{demoService.config | json}}</code></pre>
      </div>
    </div>
    <!-- Foreground {{{-->
    <div fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-md="32" fxLayout="column" class="p-12">
      <mat-form-field>
        <input [(colorPicker)]="demoService.config.fgsColor" matInput placeholder="Foreground Spinner Color (fgsColor)" [(ngModel)]="demoService.config.fgsColor">
        <mat-icon matSuffix [style.color]="demoService.config.fgsColor" fontIcon="mdi-palette" fontSet="mdi"></mat-icon>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="Foreground Spinner Type (fgsType)" [(value)]="demoService.config.fgsType">
          <mat-option *ngFor="let type of spinnerTypes" [value]="type">
            {{ type }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="Foreground Spinner Position (fgsPosition)" [(value)]="demoService.config.fgsPosition">
          <mat-option *ngFor="let position of positions" [value]="position">
            {{ position }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div>
        <span class="place-holder">Foreground Spinner Size (fgsSize)</span>
        <mat-slider max="150" min="20" step="10" [thumbLabel]="true" [(ngModel)]="demoService.config.fgsSize"></mat-slider>
      </div>

      <div>
        <span class="place-holder">Progress Bar Thickness (pbThickness)</span>
        <mat-slider max="10" min="1" step="1" [thumbLabel]="true" [(ngModel)]="demoService.config.pbThickness"></mat-slider>
      </div>

      <mat-form-field>
        <mat-select placeholder="Progress Bar Direction (pbDirection)" [(value)]="demoService.config.pbDirection">
          <mat-option *ngFor="let direction of directions" [value]="direction">
            {{ direction }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <input [(colorPicker)]="demoService.config.overlayColor" cpOutputFormat="rgba" matInput placeholder="Overlay Color (overlayColor)" [(ngModel)]="demoService.config.overlayColor">
        <mat-icon matSuffix [style.color]="demoService.config.overlayColor" fontIcon="mdi-palette" fontSet="mdi"></mat-icon>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Loading Text (text)" [(ngModel)]="demoService.config.text" autocomplete="off">
      </mat-form-field>

      <mat-form-field *ngIf="demoService.config.text">
        <mat-select placeholder="Loading Text Position (textPosition)" [(value)]="demoService.config.textPosition">
          <mat-option *ngFor="let position of positions" [value]="position">
            {{ position }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field *ngIf="demoService.config.text">
        <input [(colorPicker)]="demoService.config.textColor" matInput placeholder="Loading Text Color (textColor)" [(ngModel)]="demoService.config.textColor">
        <mat-icon matSuffix [style.color]="demoService.config.textColor" fontIcon="mdi-palette" fontSet="mdi"></mat-icon>
      </mat-form-field>

      <div>
        <span class="place-holder">Blur the page while foreground loading (blur)</span>
        <mat-slider max="15" min="0" step="1" [thumbLabel]="true" [(ngModel)]="demoService.config.blur"></mat-slider>
      </div>

    </div>
    <!-- Foreground }}}-->

    <!-- Background {{{-->
    <div fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-md="32" fxLayout="column" class="p-12">
      <mat-form-field>
        <input [(colorPicker)]="demoService.config.bgsColor" matInput placeholder="Background Spinner Color (bgsColor)" [(ngModel)]="demoService.config.bgsColor">
        <mat-icon matSuffix [style.color]="demoService.config.bgsColor" fontIcon="mdi-palette" fontSet="mdi"></mat-icon>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="Background Spinner Type (bgsType)" [(value)]="demoService.config.bgsType">
          <mat-option *ngFor="let type of spinnerTypes" [value]="type">
            {{ type }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="Background Spinner Position (bgsPosition)" [(value)]="demoService.config.bgsPosition">
          <mat-option *ngFor="let position of positions" [value]="position">
            {{ position }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div>
        <span class="place-holder">Background Spinner Size (bgsSize)</span>
        <mat-slider max="150" min="20" step="10" [thumbLabel]="true" [(ngModel)]="demoService.config.bgsSize"></mat-slider>
      </div>

      <div>
        <span class="place-holder">Background Spinner Opacity (bgsOpacity)</span>
        <mat-slider max="1" min="0.1" step="0.1" [thumbLabel]="true" [(ngModel)]="demoService.config.bgsOpacity"></mat-slider>
      </div>

      <mat-form-field>
        <input [(colorPicker)]="demoService.config.pbColor" matInput placeholder="Progress Bar Color (pbColor)" [(ngModel)]="demoService.config.pbColor">
        <mat-icon matSuffix [style.color]="demoService.config.pbColor" fontIcon="mdi-palette" fontSet="mdi"></mat-icon>
      </mat-form-field>

      <div>
        <span class="place-holder">Gap between logo, spinner and text (gap)</span>
        <mat-slider max="150" min="10" step="1" [thumbLabel]="true" [(ngModel)]="demoService.config.gap"></mat-slider>
      </div>

      <div style="margin-top: 21px; margin-bottom: 20px">
        <mat-checkbox (change)="addLogo($event.checked)" [checked]="demoService.config.logoUrl">Add logo</mat-checkbox>
      </div>

      <mat-form-field *ngIf="demoService.config.logoUrl">
        <mat-select placeholder="Logo Position (logoPosition)" [(value)]="demoService.config.logoPosition">
          <mat-option *ngFor="let position of positions" [value]="position">
            {{ position }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div *ngIf="demoService.config.logoUrl">
        <span class="place-holder">Logo size (logoSize)</span>
        <mat-slider max="200" min="40" step="10" [thumbLabel]="true" [(ngModel)]="demoService.config.logoSize"></mat-slider>
      </div>
    </div>
    <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center start">
      <a mat-raised-button color="accent" [routerLink]="'/spinners'">Available Spinners</a>
      <button mat-raised-button color="primary" (click)="reset()">Reset Configuration</button>
      <button mat-raised-button (click)="getDownloadStats()" [disabled]="disabled">Http request with loader</button>
    </div>
    <!-- Background }}}-->
  </div>
</div>